# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Environments
venv/
env/
.env
.env.* 
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Test / build caches
.pytest_cache/
pip-wheel-metadata/
